export(dcalib)
export(dcalibrate)
export(dconf)
export(dgetwd)
export(disc)
export(disc_calibrate)
export(disc_conf)
export(disc_getwd)
export(disc_setwd)
export(disc_status)
export(dsetwd)
export(dstatus)
importFrom(plyr,laply)
importFrom(plyr,ldply)
importFrom(stringr,str_c)
importFrom(stringr,str_length)
importFrom(stringr,str_sub)
importFrom(stringr,str_trim)
